<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PyCharts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PyCharts.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value>from System import Math

                  class Factory(object):
                  """
                  Factory will be instaciated by the program...
                  """

                  def __init__(self):
                  self._p = 0.0

                  def run(self, n, xs, ys):
                  """
                  run will be executed for each update of the graph.
                  - n is the sequency number increased for each run
                  - xs are the x values
                  - ys are the y values
                  """
                  x = 0.0
                  for i in xrange(len(xs)):
                  xs[i] = x
                  ys[i] = Math.Sin(x*2*Math.PI+n)
                  x += 0.0025
</value>
            </setting>
        </PyCharts.Properties.Settings>
    </userSettings>
</configuration>